

  <div class="center jumbotron col-xs-12 col-sm-12 col-md-12">
    <%= link_to "dodanie użytkownika", new_employee_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
    <%= link_to "lista użytkowników", employees_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
    <%= link_to "dodanie nowego oddziału", new_department_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
    <%= link_to "lista oddziałów", departments_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
    <%= link_to "Urlop dla pracowników", vacations_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
    <%= link_to "Lista obecności", appearances_path, class: "btn btn-primary col-xs-12 small col-sm-4 col-md-3" %>
  </div>
